@charset "utf-8";
/* CSS Document */
body
{


}
a:link{
	color: #FFF;
	text-decoration: none;
} 
a:visited{
	text-decoration: none;
	color: #FFF;
} 
a:hover{
	text-decoration: none;
	color: #06F;
} 

#A{
	background-color: #000;
	position: fixed;
	height: 2em;
	width: 100%;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 2em;
	color: #FFF;
	text-align: center;
}
#A-1{
	height: 2em;
	width: 15%;
	text-align: center;
	line-height: 2em;
	float: left;
	margin-left: 2.5%;
}
#A-2{
	line-height: 2em;
	height: 2cm;
	width: 15%;
	float: left;
}
#A-3{
	line-height: 2em;
	float: left;
	height: 2em;
	width: 15%;
	margin-right: 10.5%;
}
#A-4{
	float: right;
	font-family: "方正喵呜体";
	line-height: 2em;
	margin-right: 2%;
	height: 2em;
	width: 15%;
}
#A-5{
	float: left;
	height: 2em;
	width: 25%;
	text-align: center;
	line-height: 2em;
	padding-top: 0.2em;
	}
	
/* CSS Document */
